<app-filter (filter)="getUsers($event)"></app-filter>

<div *ngIf="(users$ | async) as users; else loading">
  <table class="users-table">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Username</th>
      <th>State</th>
      <th>Avatar</th>
      <th>Link to profile</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users.body; index as i">
      <td>{{i + 1}}.</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.state}}</td>
      <td>
        <img class="avatar"
             src="{{user.avatar_url}}"
             alt="{{'avatar' + user.username}}"
        >
      </td>
      <td>
        <a href="{{user.web_url}}"
           target="_blank"
        >{{user.web_url}}</a>
      </td>
    </tr>
    </tbody>
  </table>
  <app-pagination [headers]="users.headers"
                  (pageChange)="getUsers({page: $event})"
  ></app-pagination>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
